<section class="intro_section page_mainslider ds ms parallax visible-sm visible-xs">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="embed-responsive embed-responsive-3by2">
                    <a href="http://test.beetsool.com/unidosconmarina/Content/videos/capacitacion.mp4" class="embed-placeholder">
                        <img src="~/Content/images/small_post02.jpg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <img src="~/Content/images/slide02.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <img src="~/Content/images/slide01.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </li>



        </ul>
    </div>
    <!-- eof flexslider -->
</section>


<section class="intro_section page_mainslider ds ms parallax visible-lg visible-md">
    <div class="flexslider">
        <ul class="slides">

            <li>
                <img src="~/Content/images/slide05.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </li>
            <li>
                <figure>
                    <video loop="loop" muted="muted" autoplay="autoplay">
                        <source src="~/Content/images/capacitacion.mp4" />
                    </video>

                </figure>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">

                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h3>Nuevo centro de </h3>
                                        <h1 style="color:#ffffff; font-weight:600">
                                            Capacitación

                                        </h1>
                                    </div>

                                </div>

                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
            </li>


            <li>
                <img src="~/Content/images/slide02.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">

                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h3>UnidosconMarina</h3>
                                        <h1 style="color:#314035; font-weight:600">
                                            Marina
                                            <br> del Pilar
                                        </h1>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h4 style="color:#314035; font-weight:400">Candidata a Gobernadora de Baja California</h4>
                                        @*<a href="calculator.html" class="theme_button wide_button inverse">Unete</a>*@
                                    </div>
                                </div>

                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <img src="~/Content/images/slide01.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </li>



        </ul>
    </div>
    <!-- eof flexslider -->
</section>


<section class="ls ms highlights darklinks section_padding_60">
    <div class="fluid-container">
        <div class="row">

            <div class="col-lg-4 col-md-12">
                <div class="highlight-item rounded ds">
                    <div class="vertical-item" style="background-image: url('/Content/images/highlight1.jpg');">
                        <div class="item-content after_cover">
                            <h4 class="topmargin_0">
                                candidata
                                <br>
                                <span class="fontsize_50">Biografia</span>
                            </h4>
                            <a href="#" class="vidaloka">Conocela</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="highlight-item rounded ds">
                    <div class="vertical-item" style="background-image: url('/Content/images/highlight3.jpg');">
                        <div class="item-content after_cover">
                            <h4 class="topmargin_0">
                                ¿eres empleado
                                <br>
                                <span class="fontsize_50">del IMSS?</span>
                            </h4>
                            <a href="@Url.Action("Index", "Registro")" class="vidaloka">Únete a la red</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="highlight-item rounded ds">
                    <div class="vertical-item" style="background-image: url('/Content/images/highlight2.jpg');">
                        <div class="item-content after_cover">
                            <h4 class="topmargin_0">
                                Conviertete en
                                <br>
                                <span class="fontsize_50">Voluntario</span>
                            </h4>
                            <a href="@Url.Action("Index", "Registro")" class="vidaloka">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            <h3>Cónocenos</h3>
            <div class="col-md-4">
                <img class="img-responsive container-fluid" src="~/Content/images/redJuventudSindical.jpg" />
            </div>

            <div class="col-md-8">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#tab4" role="tab" data-toggle="tab">Nosotros</a>
                    </li>
                    <li>
                        <a href="#tab5" role="tab" data-toggle="tab">Misión</a>
                    </li>
                    <li>
                        <a href="#tab6" role="tab" data-toggle="tab">Visión</a>
                    </li>
                    <li>
                        <a href="#tab7" role="tab" data-toggle="tab">Objetivos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content top-color-border">
                    <div class="tab-pane fade in active" id="tab4">

                        <p>
                            <b>Somos jóvenes trabajadores del IMSS y formamos parte del SNTSS.</b>
                        </p>
                        <p>
                            La Red Juventud Sindical, pretende involucrar a los trabajadores jóvenes de nuestra organización en temas laborales, políticos, culturales y sociales.
                        </p>
                        <p>
                            Estamos conscientes de que existen trabajadores jóvenes en el Sindicato Nacional de Trabajadores del Seguro Social que tienen la voluntad, el compromiso y la capacidad de participar en el fortalecimiento de la organización.
                        </p>

                    </div>
                    <div class="tab-pane fade" id="tab5">

                        <p>
                            Crear una red de jóvenes que se interesen e impulsen proyectos para el fortalecimiento de la Organización y el desarrollo de los trabajadores.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab6">
                        <p>
                            Que los jóvenes sean participes de la modernización y el desarrollo de la Organización, a partir de sus proyectos, en cada una de las Secciones Sindicales del País, creando un sentido de pertenencia hacia el SNTSS.
                        </p>
                        <p>
                            Que los jóvenes sean participes de la modernización y el desarrollo de la Organización, a partir de sus proyectos, en cada una de las Secciones Sindicales del País, creando un sentido de pertenencia hacia el SNTSS.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab7">
                        <ul>
                            <li style="padding-bottom:15px;">
                                Informar e involucrar a los jóvenes de la organización, sobre los proyectos y programas que se tienen dentro y fuera del organismo, para estos mismos.
                            </li>

                            <li style="padding-bottom:15px;">
                                Impulsar los proyectos e ideas de los jóvenes trabajadores dentro de la organización.
                            </li>
                            <li style="padding-bottom:15px;">
                                Fomentar la participación en el ámbito sindical, laboral, académico, cultural, deportivo y de salud de los trabajadores jóvenes.
                            </li>
                            <li>
                                Promover la formación sindical con los jóvenes trabajadores.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<br />
<br />
<section class="ls banners_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="flexslider ds">
                    <ul class="slides">


                        <li>
                            <img src="~/Content/images/banner_slide03.jpg" alt="">
                            <div class="slide_description_wrapper rounded" style="background-image: url(@Url.Content("~/Content/images/banner_slide02.jpg"))">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h2 class="bottommargin_30 topmargin_0">
                                            <span class="highlight">La voz del cambio</span>
                                            <br>
                                            <span class="highlight2">esta en nuestra</span>
                                            <br>
                                            <span class="highlight">Juventud</span>
                                        </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">

                                        <a href="@Url.Action("Index", "Registro")" class="theme_button wide_button color1">Unete a la red</a>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </li>

                        <li>
                            <img src="~/Content/images/banner_slide03.jpg" alt="">
                            <div class="slide_description_wrapper rounded" style="background-image: url(@Url.Content("~/Content/images/banner_slide04.jpg"))">
                                <div class="slide_description">

                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </li>

                        <li>
                            <img src="~/Content/images/banner_slide03.jpg" alt="">
                            <div class="slide_description_wrapper rounded" style="background-image: url(@Url.Content("~/Content/images/banner_slide03.jpg"))">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h2 class="bottommargin_30 topmargin_0">
                                            <span class="highlight">Marina</span>
                                            <br>
                                            <span class="highlight3">te escucha</span>
                                        </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">

                                        <a href="@Url.Action("Index", "Registro")" class="theme_button wide_button color1">Deja tu comentario</a>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </li>
                        <li class="ls rounded">
                            <img src="~/Content/images/banner_slide01.jpg" alt="">
                            <div class="slide_description_wrapper rounded" style="background-image: url(@Url.Content("~/Content/images/banner_slide01.jpg"))">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        @*<h2 class="bottommargin_30 topmargin_0">
                                                <span class="highlight">Tu</span>
                                                <br>
                                                <span class="highlight2">Voto</span>
                                            </h2>*@
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        @*<h4 class="bottommargin_50">Nos puede ayudar</h4>
                                            <a href="@Url.Action("Index", "Registro")" class="theme_button wide_button color1">Apoya a Marina</a>*@
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </li>

                    </ul>
                </div>
                <!-- eof flexslider -->
            </div>
        </div>
    </div>
</section>


@*<div class="hero-wrapper">
    <div class="hero">
       
    </div>
</div>
<div class="stretch">
    <h1>Some more content down here...</h1>
</div>*@







<section class="ls section_padding_top_60">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="small-post widget widget_slider widget_featured with_padding after_cover darkgrey_bg rounded" style="background-image: url('/Content/images/featured_bg.jpg');">
                    <!-- <div class="bg_overlay"></div> -->
                    <h4 class="topmargin_-5 inline-block light">Capacitaciones</h4>
                    <div class="owl-carousel" data-nav="true" data-loop="true" data-autoplay="false" data-items="1" data-margin="40" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                        <div class="vertical-item bottommargin_15">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="media-left" href="blog-single-right.html">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">El futuro en el trabajo</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Por
                                            <a href="#" class="grey2">Blanca Aurora Zuñiga Ugalde</a> el 22 de Abril 2021
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured2.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Fake News/info virus</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Por
                                            <a href="#" class="grey2">Diana Zareth Orozco Rivera</a> el 06 de Mayo del 2021
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="vertical-item bottommargin_15">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <article class="vertical-item with_border post small-post rounded">
                    <div class="item-media entry-thumbnail rounded">
                        <div class="embed-responsive embed-responsive-3by2">
                            <a href="~/Content/images/Por_amor_a_ellas.mov" class="embed-placeholder">
                                <img src="~/Content/images/small_post01.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="item-content entry-content text-center">
                        <span class="categories-links">
                            <a rel="category" href="#" class="theme_button small_button color1">Por amor a ellas</a>
                        </span>
                        <h4 class="bottommargin_10 topmargin_0">
                            <a href="#">Rally deportivo y caminata</a>
                        </h4>

                        <p class="topmargin_30 bottommargin_10">
                           
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="vertical-item with_border post small-post rounded">
                    <div class="item-media entry-thumbnail rounded">
                        <div class="embed-responsive embed-responsive-3by2">
                            <a href="~/Content/images/contrato-colectivo-imsss.mp4" class="embed-placeholder">
                                <img src="~/Content/images/small_post02.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="item-content entry-content text-center">
                        <span class="categories-links">
                            <a rel="category" href="#" class="theme_button small_button color1">Contrato Colectivo</a>
                        </span>
                        <h4 class="bottommargin_10 topmargin_0">
                            <a href="#">Yo digo sí a mi contrato colectivo</a>
                        </h4>
                        @*<span class="entry-author small-text">
                                <i class="fa fa-user grey"></i>
                                <span>Admin</span>
                            </span>
                            <span class="entry-date small-text">
                                <i class="fa fa-calendar grey"></i>
                                <time datetime="2016-09-03T15:05:23+00:00">03.05.2016</time>
                            </span>*@
                        <p class="topmargin_30 bottommargin_10">
                          
                        </p>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>

<section class="ls">
    <div class="container">
        <div class="row bottommargin_10">
            <div class="col-sm-12">
                <article class="vertical-item with_border post wide-post rounded row columns_padding_0">
                    <div class="col-md-4 fontsize_0">
                        <div class="item-media entry-thumbnail">
                            <img src="~/Content/images/wide_post01.jpg" alt="" class="rounded">
                            <div class="media-links">
                                <a class="abs-link" title="" href="#"></a>
                            </div>
                            <span class="categories-links">
                                <a rel="category" href="#" class="theme_button small_button color1">Registro como candidata</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 item-content entry-content">
                        <h4 class="bottommargin_10 topmargin_0">
                            <a href="#">Registro de Candidata a la Gubernatura de Baja California</a>
                        </h4>
                        <span class="entry-author small-text">
                            <i class="fa fa-user grey"></i>
                            <span>Red Juventud Estatal</span>
                        </span>
                        <span class="entry-date small-text">
                            <i class="fa fa-calendar grey"></i>
                            <time datetime="2016-09-03T15:05:23+00:00">21.03.2021</time>
                        </span>
                        <p class="topmargin_30 bottommargin_0">
                            La red Juventud Sindical de la Sección VII, acompaño al registro de la candidata Marina del Pilar como gobernadora del estado de Baja California, demostrando el apoyo total a su campaña y estrategias por el bienestar de Baja California.
                        </p>
                    </div>
                </article>

                <article class="vertical-item with_border post wide-post rounded row columns_padding_0">
                    <div class="col-md-4 fontsize_0">
                        <div class="item-media entry-thumbnail">
                            <img src="~/Content/images/wide_post02.jpg" alt="" class="rounded">
                            <div class="media-links">
                                <a class="abs-link" title="" href="#"></a>
                            </div>
                            <span class="categories-links">
                                <a rel="category" href="#" class="theme_button small_button color1">Capacitación</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 item-content entry-content">
                        <h4 class="bottommargin_10 topmargin_0">
                            <a href="#">Capacitación a los integrantes de la red juvenil</a>
                        </h4>
                        <span class="entry-author small-text">
                            <i class="fa fa-user grey"></i>
                            <span>Red Juventud Estatal</span>
                        </span>
                        <span class="entry-date small-text">
                            <i class="fa fa-calendar grey"></i>
                            <time datetime="2016-09-03T15:05:23+00:00">21.03.2021</time>
                        </span>
                        <p class="topmargin_30 bottommargin_0">
                            La red Juventud Sindical extiende una atenta invitación a todos los jovenes de nuestra Sección VII, para que formen parte de la Red Juventud Sindical; Quiénes ya son parte de ella, estuvieron muy emotivios, al iniciar el primer curso de capacitación.
                        </p>
                    </div>
                </article>

                <article class="vertical-item with_border post wide-post rounded row columns_padding_0">
                    <div class="col-md-4 fontsize_0">
                        <div class="item-media entry-thumbnail">
                            <img src="~/Content/images/wide_post03.jpg" alt="" class="rounded">
                            <div class="media-links">
                                <a class="abs-link" title="" href="#"></a>
                            </div>
                            <span class="categories-links">
                                <a rel="category" href="#" class="theme_button small_button color1">Acciones</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8 item-content entry-content">
                        <h4 class="bottommargin_10 topmargin_0">
                            <a href="#">Nuevo centro de capacitación</a>
                        </h4>
                        <span class="entry-author small-text">
                            <i class="fa fa-user grey"></i>
                            <span>Red Juventud Estatal</span>
                        </span>
                        <span class="entry-date small-text">
                            <i class="fa fa-calendar grey"></i>
                            <time datetime="2016-09-03T15:05:23+00:00">21.03.2021</time>
                        </span>
                        <p class="topmargin_30 bottommargin_0">
                            Inicia construcción en Mexicali el nuevo centro de capacitación donde los jóvenes trabajadores del SNTSS Sección VII podrán continuar capacitandose y preparando para formar a los próximos líderes sindicales.
                        </p>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>


<section class="ls columns_padding_1 section_padding_top_60">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-12 col-lg-push-3">
                <div class="vertical-item content-absolute text-center rounded ds countdown-block">
                    <div class="item-media">
                        <img src="~/Content/images/mansory03.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <div id="election-countdown"></div>
                        <h4 class="margin_0">Campaña electoral</h4>
                        <h5 class="topmargin_0 bottommargin_15">
                            Vota el
                            <span class="highlight">06 de Junio, 2021</span>
                        </h5>
                        <div class="media small-teaser inline-block">
                            <div class="media-left">
                                <i class="highlight fontsize_14"></i>
                            </div>
                            <div class="media-body small-text">
                                Candidata a Gobernadora de Baja California
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6 col-lg-pull-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory01.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#ApoyoTotal</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory04.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#UnidosConMarina</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6 col-lg-pull-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory02.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#Registro</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory05.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#TeamMarina</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

        </div>
    </div>
</section>

<br />
<br />